$primaryColor:#18181b;
$secondayColor:#2dc5b2;
$primaryTextclor:#f4f4f5;
$secondayTextcolor:#868d95;
$mobileBreakpoints:489px;
$tabletBreakpoints:720px;
$desktopBreakpoints:1312px;
$headingFontSize:48px;
$spaceY:4rem 2rem 0 0;